@model RedCross.Repository.Models.DB.BeneficiaryModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <h1 class="text-center m-3 fw-bold">@Model.Name's Details</h1>
    <table class="table table-striped table-bordered shadow fs-3">
        <tr class="fs-3">
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>@Model.Surname</td>
        </tr>
        <tr>
            <td>CUID</td>
            <td>@Model.CUID</td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>@Model.Priority</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@Model.City</td>
        </tr>

    </table>

    <div class="mt-5">
        <h1 class="fw-bold m-3">
            Actions @Model.Name was a benefactor of
        </h1>
        <div class="container">
            <table class="table table-striped table-bordered shadow fs-3">
                <tr>
                    <th>Volunteer Name</th>
                    <th>Volunteer Surname</th>
                    <th>Action Date</th>
                    <th>Title</th>
                </tr>

                @foreach (var item in ViewBag.Actions)
                {
                    <tr>
                        <td>@item.VolunteerName</td>
                        <td>@item.VolunteerSurname</td>
                        <td>@Convert.ToDateTime(item.ActionDate).ToString("dd/MM/yyyy")</td>
                        <td>@item.Title</td>
                    </tr>
                }
            </table>
        </div>
    </div>


</div>
